body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
}

header {
  position: relative;
  height: 600px;
  background-image: url("./images/Poster.svg");
  background-size: cover;
  background-position: center;
}

.seeMore-header {
  display: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.logo {
  display: flex;
}

header h1 {
  color: white;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  size: 24px;
}

.search-container {
  position: relative;
  width: 525px;
  height: 36px;
  border: 2px;
  justify-content: space-between;
  padding: 6px 10px 6px 10 px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
}
.search-container input[type="text"]::placeholder {
  color: white;
  font-size: 16px;
}

.seeMore-search-container input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 6px;
  color: black;
  font-size: 16px;
}

.seeMore-search-container input[type="text"]::placeholder {
  color: #000;
  font-size: 16px;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-container .search-icon img {
  width: 20px;
  height: 20px;
}

.description-box {
  position: relative;
  top: 28px;
}

.description-box img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.description-box h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.description-box h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50%;
}
.rate {
  display: flex;
  justify-content: space-between;
}

.movie-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46.87px;
  color: #000000;
}
.title h2 a {
  text-decoration: none;
  color: #be123c;
}

.title h2 a:hover {
  color: none;
  text-decoration: none !important;
  cursor: pointer;
}

.title div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title h2 {
  color: #be123c;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.movie-list {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 50px 50px;
  margin-bottom: 40px;
}

.movie-list img:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.button-container:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
.movie-list img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.links li {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  list-style: none;
}

footer p {
  font-size: 18px;
}

.movieCard {
  max-width: 250px;
}

.movieContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.moviePoster {
  width: 100%;
  height: 370px;
}

.rate {
  font-size: 14px;
}

.year {
  font-size: 12px;
}

.max-width {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.movieTitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieDetails {
  height: 100%;
  flex: auto;
  padding: 20px;
}

.movieCard:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.wrapper {
  display: flex;
  width: 100%;
  overflow: auto;
}

.pagination_section {
  text-align: center;
  margin: 20px 0;
}

.pagination_section a {
  color: black;
  padding: 10px 18px;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
}

.pagination_section a:hover:not(.active) {
  background-color: #031f3b;
  color: white;
}

.pagination_section a.active {
  background-color: green;
  color: white;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .movieContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .search-btn input {
    padding: 0.4rem 0.3rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  header {
    height: 400px;
    text-align: center;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .search-container {
    width: 60%;
    padding: 20px 0;
  }
  .moviePoster {
    width: 90%;
    height: 340px;
    overflow-x: hidden;
  }
  .menu {
    display: none;
  }

  .pagination {
    display: none;
  }

  .description-box {
    top: 0;
  }

  .description-box h1 {
    font-size: 25px;
  }

  .description-box h2 {
    display: none;
  }
  .movieContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .title h1 {
    font-size: 24px;
  }

  .title h2 {
    font-size: 16px;
  }
  .rating h2 {
    display: none;
  }

  .top-rated button {
    font-size: 16px;
  }

  .top-rated span {
    font-size: 16px;
  }
  .search-btn input {
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 423px) {
  .movieContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
  }
  .moviePoster {
    width: 100%;
    height: 370px;
    overflow-x: hidden;
  }

  .search-btn input[type="text"]::placeholder {
    font-size: 12px;
  }

  .title h1 {
    font-size: 18px;
  }
  .movie-list img:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
}

.best-image {
  max-width: 100%;
  height: 229px;
}
